
<app-header></app-header>

<div class = "jumbotron center" ><h1>Welcome to the Home Page of our Plagiarism Detection Tool!</h1></div>

<!--<div class="px-lg-5">
    <ul>
      <li><a [routerLink]="['/login']">Login</a></li>
      <li><a  [routerLink]="['/register']">Register</a></li>
    </ul>
</div>-->

<!--<div class="container">
    <div class="row">
      <div class="col-lg-2">
        <button type="button" id="login-btn" class="btn btn-link"><h1>Start</h1></button>
      </div>
      <div class="col-lg-4">
        <button type="button" id="register-btn" class="btn btn-link"><h1>Register</h1></button>
      </div>
    </div>
  </div>-->

